{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="SlickGrid-2.3.2/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="SlickGrid-2.3.2/css/smoothness/jquery-ui-1.11.3.custom.min.css"/>
    <link rel="stylesheet" href="SlickGrid-2.3.2/slick-default-theme.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/glyphicons.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="SlickGrid-2.3.2/lib/jquery.event.drag-2.3.0.js"></script>
    <script src="http://code.highcharts.com/5.0.6/highcharts.js"></script>

    <script src="SlickGrid-2.3.2/slick.core.js"></script>
    <script src="SlickGrid-2.3.2/slick.grid.js"></script>
    <script src="SlickGrid-2.3.2/slick.formatters.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="js/{{ .Code }}"></script>

    <style>
        .slick-header-column {
            min-height: 25px !important;
        }

        @media print {
            .print-hide {
                display: none;
            }
        }
    </style>
</head>
<body>
{{ template "layout" }}
</body>
</html>
{{ end }}
