{{ define "modal-pdf" }}
<div class="modal fade" id="modal-pdf" tabindex="-1" role="dialog" aria-labelledby="pdf-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-pdf-title">Generate PDF Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4 h6">PDF Orientation</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="modal-pdf-orientation">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="Portrait" autocomplete="off" checked> Portrait
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="Landscape" autocomplete="off"> Landscape
                            </label>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-4 h6">PDF Size</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="pdf-size">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="A4" autocomplete="off" checked> A4
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="A3" autocomplete="off"> A3
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="A2" autocomplete="off"> A2
                            </label>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-4 h6">Layout option</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="pdf-layout">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="Normal" autocomplete="off" checked> Normal
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="Flattened" autocomplete="off"> Flattened
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-pdf-generate" >Generate PDF</button>
            </div>
        </div>
    </div>
</div>
{{ end }}
