{{ define "content" }}
<table width="100%">
    <tr>
        <td><div id="chart-pie-length" style="height: 500px; min-width: 500px;"></div></td>
        <td><div id="chart-column-length" style="height: 500px; min-width: 500px;"></div></td>
    </tr>
    <tr>
        <td><div id="chart-pie-material" style="height: 500px; min-width: 500px;"></div></td>
        <td><div id="chart-column-material" style="height: 500px; min-width: 500px;"></div></td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td><div id="table-material" style="width: 900px;height: 300px;"></div></td>
    </tr>
</table>
{{ end }}
