{{ define "content" }}
<table width="100%">
    <tr>
        <td><div id="columnchart" style="height: 500px; min-width: 500px;"></div></td>
        <td><div id="piechart" style="height: 500px; min-width: 500px;"></div></td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td><div id="table-links" style="width: 900px;height: 300px;"></div></td>
    </tr>
    <tr>
        <td><div id="table-nodes" style="width: 900px;height: 300px;"></div></td>
    </tr>
    <tr>
        <td><div id="table-other" style="width: 900px;height: 300px;"></div></td>
    </tr>
</table>
{{ end }}
