{{ define "layout" }}
<div class="row">
    <div class="col">
        <h1 style="font-size: 2.8rem" class="display-4">Water - Model Summaries - by Elements</h1>
    </div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">
            <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"> Back</span>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-print">
            <span class="glyphicon glyphicon-save-file" aria-hidden="true"> PDF</span>
        </button>
        <button type="button" class="btn btn-secondary">More..</button>
    </div>
</div>
<br>

<div class="modal fade" id="modal-print" tabindex="-1" role="dialog" aria-labelledby="pdf-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pdf-modal-title">Generate PDF Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4 h6">PDF Orientation</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="pdf-orientation">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="Portrait" autocomplete="off" checked> Portrait
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="Landscape" autocomplete="off"> Landscape
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4 h6">PDF Size</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="pdf-size">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="A4" autocomplete="off" checked> A4
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="A3" autocomplete="off"> A3
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="A2" autocomplete="off"> A2
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4 h6">Layout option</div>
                    <div class="col-8">
                        <div class="btn-group" data-toggle="buttons" id="pdf-layout">
                            <label class="btn btn-secondary active">
                                <input type="radio" value="Normal" autocomplete="off" checked> Normal
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" value="Flattened" autocomplete="off"> Flattened
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="gen-pdf" >Generate PDF</button>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs print-hide" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#dashboard" role="tab">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#summary" role="tab">Summary</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 20px">
    <div class="tab-pane active" id="dashboard" role="tabpanel">
        {{ template "content-dashboard" }}
    </div>

    <div class="tab-pane" id="summary" role="tabpanel">
        {{ template "content-summary" }}
    </div>
</div>
{{ end }}
